# Assignment for practice

In [2]:
a= 123
b=456
c=78
result= a + b - c
print(result)

501

In [4]:
a = 25
b = 40
result= a * b
print (result)

1000

In [6]:
a = 500
b = 8
quotient = a // b  
remainder = a % b  
print("Quotient:", quotient)
print("Remainder:", remainder)

Quotient: 62
Remainder: 4

In [8]:
a = 45.6
b = 5 
result = 45.5 // 5
print (result)

9.0

In [10]:
a = 2102
result= a ** 10
print (result)

1683941953091573505989403773953024

In [12]:
a = 525
b = 7
if 525 % 7 == 0:
    print("Yes")
else:
    print("No")

Yes

In [14]:
answer = (25 + 5) * 2 - 10 / 2
print(answer)

55.0

In [20]:
a = 150
b = 200
sum_value = a + b
result = - sum_value
print(result)

-350

In [22]:
x = 10 
x += 15
print(x)

25

In [33]:
result = 20 + 3 * (2**3 - 4)
print(result)

32

In [39]:
a = 34
b = 34.0
if a == b:
    print("Yes")
else:
    print("No")

Yes

In [43]:
a = 15
b = 10 + 5
if a!= b:
    print("Yes")
else:
    print("No")

No

In [45]:
avenger = ["thor","iron man", "loki","spider man"]
print(avenger)

['thor', 'iron man', 'loki', 'spider man']

In [47]:
print("loki" in avenger)

True

In [49]:
print("superman"in avenger)

False

In [51]:
print("jaani" not in avenger)

True

In [53]:
x = ["apple","orange"]
y = ["apple","orange"]
z = x

In [55]:
x is z

True

In [57]:
x is y

False

In [59]:
x==y

True

In [75]:
x [1] = "dragon fruit"
x [1]

'dragon fruit'

In [83]:
s = 'what a "wonderful" day!'
print(s)

what a "wonderful" day!

In [3]:
value1 = 34
value2 = 34.0

if value1 == value2:
    print("The values are equal.")
else:
    print("The values are not equal.")

The values are equal.

In [7]:
value1 = 34
value2 = 34.0
if value1 == value2:
    print("The values are equal.")
else:
    print("The values are not equal.")

The values are equal.

In [11]:
value1 = 78
value2 = 45
if value1 > value2:
    print(f"{value1} is greater than {value2}.")
else:
    print(f"{value1} is not greater than {value2}.")

78 is greater than 45.

In [15]:
value = 5
if value**2 < 30:
    print(f"The square of {value} is less than 30.")
else:
    print(f"The square of {value} is not less than 30.")

The square of 5 is less than 30.

In [19]:
value1 = 20
value2 = 10 + 1010 + 10
if value1 >= value2:
    print(f"{value1} is greater than or equal to {value2}.")
else:
    print(f"{value1} is not greater than or equal to {value2}.")

20 is not greater than or equal to 1030.

In [25]:
value1 = 333**3  
value2 = 2727
if value1 <= value2:
    print(f"{value1} is less than or equal to {value2}.")
else:
    print(f"{value1} is not less than or equal to {value2}.")

36926037 is not less than or equal to 2727.

In [27]:
result = 10 < 15 < 2010 < 15 < 20
print(f"Is the comparison 10 < 15 < 2010 < 15 < 20 true? {result}")

Is the comparison 10 < 15 < 2010 < 15 < 20 true? False

In [29]:
a = 50
b = 25
if a / 2 == b:
    print(f"{a} / 2 is equal to {b}.")
else:
    print(f"{a} / 2 is not equal to {b}.")

50 / 2 is equal to 25.

In [35]:

str1 = "Python"
str2 = "python"
if str1 == str2:
    print(f"The strings {str1} and {str2} are equal.")
else:
    print(f"The strings {str1} and {str2} are not equal.")

The strings Python and python are not equal.

In [37]:
float_value = 45.0
integer_value = 44
if float_value > integer_value:
    print(f"{float_value} is greater than {integer_value}.")
else:
    print(f"{float_value} is not greater than {integer_value}.")

45.0 is greater than 44.

In [39]:
if 10 > 5 and 15 < 20:
    print("Both conditions are true.")
else:
    print("One or both conditions are false.")

Both conditions are true.

In [43]:
if 5 == 10 or 20 > 15:
    print("At least one condition is true.")
else:
    print("Neither condition is true.")

At least one condition is true.

In [45]:
if not (10 > 5):
    print("The condition is negated and is false.")
else:
    print("The condition is negated and is true.")

The condition is negated and is true.

In [47]:
if 10 > 5 and (20 < 15 or 5 == 5):
    print("The condition is true.")
else:
    print("The condition is false.")

The condition is true.

In [51]:
if False and True:
    print("The condition is true.")
else:
    print("The condition is false.")

The condition is false.

In [53]:
result = 0 and 10 > 5

# Print the result
print("The result of 0 and 10 > 5 is:", result)

The result of 0 and 10 > 5 is: 0

In [55]:
result = 10 or 5
print("The result of 10 or 5 is:", result)

The result of 10 or 5 is: 10

In [57]:
x = True
y = False
result = x or (y and not y)
print(f"The result of x or y and not y is: {result}")

The result of x or y and not y is: True

In [59]:
list1 = [5, 10, 15]
if 10 in list1 and 20 not in list1:
    print("10 is in the list and 20 is not in the list.")
else:
    print("The condition is not met.")

10 is in the list and 20 is not in the list.

In [63]:
num = int(input("Enter a number: "))
if num > 0 and num % 3 == 0 and num % 5 == 0:
    print(f"The number {num} is positive and divisible by both 3 and 5.")
else:
    print(f"The number {num} is either not positive or not divisible by both 3 and 5.")

Enter a number:  15

The number 15 is positive and divisible by both 3 and 5.

In [3]:
text = "Shubhamchauhan"
substring = text[7:14]
substring

'chauhan'

In [9]:
file = "helloworld"
reversed_file = file[::-1]
reversed_file

'dlrowolleh'

In [15]:
char = "abcdefg"
every_second_char = char[::2]
every_second_char

'aceg'

In [31]:
x = 14
y = 13

if x > y:
    print ("x is greater")

x is greater

In [1]:
x =10
y = 13

if x > y:
    print ("x is greater")
else: 
    print("y is greater")

y is greater

In [9]:
x = int(input("enter age of rahul: "))
y = int(input("enter age of Sahil: "))

if x == y:
    print ("x and y are twins")
elif x > y:
    print("x is elder")
else:
    print("y is elder")

enter age of rahul:  12
enter age of Sahil:  12

x and y are twins

In [37]:
 age = int(input("enter your age"))
y = 18

if age == y:
    print( " you can vote")
elif age > y:
    print("you can vote")
else:
    print("you can't vote")

enter your age 60

you can vote

In [41]:
age = int(input("enter your age"))

if age >= 18:
    print( " you can vote")
else: 
    print(" you can't vote")

enter your age 45

 you can vote

In [45]:
day_number = int(input("Enter a number between 1 to 7 "))
if day_number < 1 or day_number > 7:
    print("Invalid input! Please enter a number between 1 and 7.")
else:
    days_of_week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
    print("The day is:", days_of_week[day_number - 1])

Enter a number between 1 to 7  5

The day is: Thursday

In [29]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("The number is even.")
else:
    print("The numberis odd.")

Enter a number:  12

The number is even.

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 1, 1, 1,1,1,1,1,1,]
count = 0
for i in range(len(my_list)):
    if my_list[i] == 1:
        count += 1
print(f"The number '1' appears {count} times in the list.")

The number '1' appears 10 times in the list.

## 5 problem statement for function

In [35]:
def sum_even_odd(lst):
    even_sum = 0
    odd_sum = 0
    for num in lst:
        if num % 2 == 0:
            even_sum += num
        else:
            odd_sum += num
    return (even_sum, odd_sum)
print(sum_even_odd([1, 2, 3, 4, 5, 6]))

(12, 9)

In [37]:
def fibonacci(n):
    fib_seq = []
    a, b = 0, 1
    for _ in range(n):
        fib_seq.append(a)
        a, b = b, a + b
    return fib_seq
print(fibonacci(9))

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [39]:
def is_palindrome(s):
    s = s.replace(" ", "").lower()
    return s == s[::-1]
print(is_palindrome("A man a plan a canal Panama"))  
print(is_palindrome("nitin"))

True
True

In [41]:
def factorial(n: int) -> int:
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers.")
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
print(factorial(8))  
print(factorial(0))

40320
1

In [43]:
def is_prime(n: int) -> bool:
    if n <= 1:
        return False  
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False 
    return True
print(is_prime(7))  
print(is_prime(16))

True
False

In [48]:
def sum_even_odd(lst):
    even_sum = 0
    odd_sum = 0
    for num in lst:
        if num % 2 == 0:
            even_sum += num
        else:
            odd_sum += num
    return (even_sum, odd_sum)
print(sum_even_odd([1, 2, 3, 4, 5, 6]))

(12, 9)

## 5 problem statement for lamda

In [52]:
add = lambda x, y: x + y
print(add(3, 4))

7

In [54]:
square = lambda x: x ** 2
print(square(5))

25

In [56]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

In [60]:
data = [(1, 'bus'), (2, 'car'), (3, 'truck')]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(1, 'bus'), (2, 'car'), (3, 'truck')]

In [68]:
data = [{'name': 'Alice', 'score': 85}, {'name': 'Bob', 'score': 90}, {'name': 'Charlie', 'score': 88}]
min_score = min(data, key=lambda x: x['score'])
print(min_score)

{'name': 'Alice', 'score': 85}