In [1]:
print ("Jaani")
print (5+8)

Jaani
13

# Comments
## Comments
### Comments
#### Comments

In [18]:
'''
This is 
a multiline
comment
'''
print("Shubham")

Shubham

In [24]:
x = 7
print (x)

7

In [28]:
name = "Shubham"
print("my name is ",name)

my name is  Shubham

In [27]:
name = input("Enter your name:")
age = input ("Enter your age:")
print("my name is",name,"and i am" ,age, "year old" )

Enter your name: Shubham Chauhan
Enter your age: 22

my name is Shubham Chauhan and i am 22 year old

In [1]:
print ("Area of Circle")
radius = 5
pi = 3.14
area = pi * radius ** 2
print (area)

Area of Circle
78.5

In [5]:
x,y,z = 7,8,9
print (x)
print (y)
print (z)
print (x,y,z)

7
8
9
7 8 9

In [9]:
a,b,c = 100,200,300
print (a,b,c)

100 200 300

# Data type
## numeric

In [12]:
# int
x = 7
print(x)
type(y)

7

int

In [14]:
y = 4.3
print(y)
type(y)

4.3

float

In [26]:
z = 1 + 3j
print(z)
type(z)

(1+3j)

complex

# boolean

In [29]:
a = True
type (a)

bool

In [31]:
b = False 
type(b)

bool

In [33]:
p = 5 < 4
type(p)

bool

In [35]:
p

False

In [45]:
p1 = 3 >9
type(p1)

bool

In [47]:
p1

False

x = 2 
y = 3
print (x)
print (y)

# Set

In [61]:
s = {1,2,3,1,2,3,1,2,3,}
print (s)
type (s)

{1, 2, 3}

set

In [79]:
s1 = {"vikas","shubham","sandhya","shubham"}
s1

{'sandhya', 'shubham', 'vikas'}

In [83]:
name = ("shubham")
name

'shubham'

In [85]:
print (name)

shubham

In [87]:
s2 = set()
s2

set()

# Dictionary

In [90]:
D = {"aa":1, "b":2, "c":3}
print (D)
type (D)

{'aa': 1, 'b': 2, 'c': 3}

dict

In [92]:
D

{'aa': 1, 'b': 2, 'c': 3}

In [94]:
D1 = {}
type (D1)

dict

In [96]:
Shubham = {"Math":78, "Science":98,"English":89}
print (Shubham)
type (Shubham)

{'Math': 78, 'Science': 98, 'English': 89}

dict

# Sequence
## String

In [99]:
name = "Shubham"
print (name)
type (name)

Shubham

str

In [101]:
Address = "4th cross road , Nandani Layout, Bengaluru - 560022"
Address

'4th cross road , Nandani Layout, Bengaluru - 560022'

In [105]:
S1 = "11" 
print (S1)
type (S1)

11

str

# list

In [114]:
Fruit_name = ["apple","banana","gavava","orange","peach"]
print (Fruit_name)
type (Fruit_name)
len (Fruit_name)

['apple', 'banana', 'gavava', 'orange', 'peach']

5

# tuple

In [121]:
tu=("shubham","Prateek")
print (tu)
type (tu)
len (tu)

('shubham', 'Prateek')

2

In [123]:
tu

('shubham', 'Prateek')

In [101]:
p = 500
r = 20
t = 5 
n = 2
ci = p * (1 + r / n) ** (n * t) - p
print(ci)

12968712300000.0

In [10]:
radius = float (input("enter radius"))
pi = 3.14
area = pi * radius **  2 
print ( "Area of the circle:",area)

enter radius 45

Area of the circle: 6358.5

In [12]:
round (area,2)

6358.5

In [14]:
r1 = range(5)
print (r1)
print(len(r1))
type(r1)

range(0, 5)
5

range

In [16]:
r2 = range (2,10)
print(r2)
print(len(r2))

range(2, 10)
8

In [32]:
r3 = range(1,21,4)
print(r3)
print(len(r3))

range(1, 21, 4)
5

In [50]:
print ("Area of Circle")
radius = 5
pi = 3.14
area = pi * radius ** 2
print (area)
print (area > 50)

Area of Circle
78.5
True

# logic operators 
### * used to combine conditional statments
### * and
### * or 
### * not

In [58]:
a = True
b = False
print (a and b)
print (a or b)

False
True

# Assignment for practice

In [17]:
a= 123
b=456
c=78
result= a + b - c
print(result)

501

In [19]:
a = 25
b = 40
result= a * b
print (result)

1000

In [21]:
a = 500
b = 8
quotient = a // b  
remainder = a % b  
print("Quotient:", quotient)
print("Remainder:", remainder)

Quotient: 62
Remainder: 4

In [24]:
a = 45.6
b = 5 
result = 45.5 // 5
print (result)

9.0

In [26]:
a = 2102
result= a ** 10
print (result)

1683941953091573505989403773953024

In [32]:
a = 525
b = 7
if 525 % 7 == 0:
    print("Yes")
else:
    print("No")

Yes

In [36]:
answer = (25 + 5) * 2 - 10 / 2
print(answer)

55.0

# List method

In [2]:
li = [1,2,"a","b"]
li

[1, 2, 'a', 'b']

In [4]:
li.append("chocolate")
li

[1, 2, 'a', 'b', 'chocolate']

In [8]:
li.extend(["mango","strawberry","guava"])
li

[1, 2, 'a', 'b', 'chocolate', 'mango', 'strawberry', 'guava']

In [10]:
li.insert(5,"dairymilk")
li

[1, 2, 'a', 'b', 'chocolate', 'dairymilk', 'mango', 'strawberry', 'guava']

# grocery list

In [35]:
grocery = ["oil","salt","rice"]
grocery

['oil', 'salt', 'rice']

In [37]:
grocery.append("sugar")
grocery

['oil', 'salt', 'rice', 'sugar']

In [39]:
grocery.extend(["masala","soap","comfort"])
grocery

['oil', 'salt', 'rice', 'sugar', 'masala', 'soap', 'comfort']

In [41]:
grocery.insert(2,"detergent powder")
grocery

['oil',
 'salt',
 'detergent powder',
 'rice',
 'sugar',
 'masala',
 'soap',
 'comfort']

In [43]:
print (grocery)

['oil', 'salt', 'detergent powder', 'rice', 'sugar', 'masala', 'soap', 'comfort']

In [45]:
grocery.remove("oil")
print(grocery)

['salt', 'detergent powder', 'rice', 'sugar', 'masala', 'soap', 'comfort']

In [47]:
grocery.pop(3)
grocery

['salt', 'detergent powder', 'rice', 'masala', 'soap', 'comfort']

In [49]:
del grocery[3]
grocery

['salt', 'detergent powder', 'rice', 'soap', 'comfort']

In [51]:
grocery.clear()
grocery

[]

In [55]:
x = "12"
print(x)
type(x)

12

str

In [57]:
y = float(x)
print(y)
type(y)

12.0

float

In [61]:
sentence = "this is one sentence"
sentence

'this is one sentence'

In [65]:
sentence.index('o')

8

In [81]:
sentence[8:11]

'one'

In [99]:
intro = "my name is Shubham Chauhan"
first_name = intro [ 11:18]
second_name = intro[19:]
full_name = first_name + ' ' + second_name
print (full_name)

Shubham Chauhan

In [3]:
text = "my name is shubham chauhan"
firstname = text [ 11: 18 ]
secondname = text [ 19:]
fullname = firstname + " " + secondname
print(fullname)

shubham chauhan

In [13]:
text.index("h")

12

In [15]:
text.index("h")

12

In [21]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("The number is even.")
else:
    print("The numberis odd.")

Enter a number:  64

The number is even.

In [32]:
x =25
y = 15
z = 20
if x > y:
    if x > z:
        print("x is largest")
    else:
        print("z is largest")
else:
    if y > z:
        print("y is largest")
    else:
        print("z is largest")

x is largest

In [15]:
s = 18
p = 11
l = 15
if s > p and s > l:
    print ("s bda h")
elif p > l:
    print ("p bda h")
else:
    print("l bda hai")

s bda h

In [1]:
i = int(input("enter a number"))
n = 1
while n <= 10:
    print(f"{i}X{n}={i*n}")
    n += 1

enter a number 5

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [3]:
n = 1
while n <= 20:
    print(f"Cube of {n} is {n ** 3}")
    n += 1

Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64
Cube of 5 is 125
Cube of 6 is 216
Cube of 7 is 343
Cube of 8 is 512
Cube of 9 is 729
Cube of 10 is 1000
Cube of 11 is 1331
Cube of 12 is 1728
Cube of 13 is 2197
Cube of 14 is 2744
Cube of 15 is 3375
Cube of 16 is 4096
Cube of 17 is 4913
Cube of 18 is 5832
Cube of 19 is 6859
Cube of 20 is 8000

In [15]:
n = 0
while n < 50:
    n += 1
    if n % 2 == 0:
        print(f"Cube of {n} is {n ** 3}")
    else:
        print(f"square of {n} is {n ** 2}")

square of 1 is 1
Cube of 2 is 8
square of 3 is 9
Cube of 4 is 64
square of 5 is 25
Cube of 6 is 216
square of 7 is 49
Cube of 8 is 512
square of 9 is 81
Cube of 10 is 1000
square of 11 is 121
Cube of 12 is 1728
square of 13 is 169
Cube of 14 is 2744
square of 15 is 225
Cube of 16 is 4096
square of 17 is 289
Cube of 18 is 5832
square of 19 is 361
Cube of 20 is 8000
square of 21 is 441
Cube of 22 is 10648
square of 23 is 529
Cube of 24 is 13824
square of 25 is 625
Cube of 26 is 17576
square of 27 is 729
Cube of 28 is 21952
square of 29 is 841
Cube of 30 is 27000
square of 31 is 961
Cube of 32 is 32768
square of 33 is 1089
Cube of 34 is 39304
square of 35 is 1225
Cube of 36 is 46656
square of 37 is 1369
Cube of 38 is 54872
square of 39 is 1521
Cube of 40 is 64000
square of 41 is 1681
Cube of 42 is 74088
square of 43 is 1849
Cube of 44 is 85184
square of 45 is 2025
Cube of 46 is 97336
square of 47 is 2209
Cube of 48 is 110592
square of 49 is 2401
Cube of 50 is 125000

In [9]:
n = 0
while n < 50:
    n += 1
    if n % 2 == 0:
        print(f"Cube of {n} is {n ** 3}")
    else:
        print(f"Square of {n} is {n ** 2}")

Square of 1 is 1
Cube of 2 is 8
Square of 3 is 9
Cube of 4 is 64
Square of 5 is 25
Cube of 6 is 216
Square of 7 is 49
Cube of 8 is 512
Square of 9 is 81
Cube of 10 is 1000
Square of 11 is 121
Cube of 12 is 1728
Square of 13 is 169
Cube of 14 is 2744
Square of 15 is 225
Cube of 16 is 4096
Square of 17 is 289
Cube of 18 is 5832
Square of 19 is 361
Cube of 20 is 8000
Square of 21 is 441
Cube of 22 is 10648
Square of 23 is 529
Cube of 24 is 13824
Square of 25 is 625
Cube of 26 is 17576
Square of 27 is 729
Cube of 28 is 21952
Square of 29 is 841
Cube of 30 is 27000
Square of 31 is 961
Cube of 32 is 32768
Square of 33 is 1089
Cube of 34 is 39304
Square of 35 is 1225
Cube of 36 is 46656
Square of 37 is 1369
Cube of 38 is 54872
Square of 39 is 1521
Cube of 40 is 64000
Square of 41 is 1681
Cube of 42 is 74088
Square of 43 is 1849
Cube of 44 is 85184
Square of 45 is 2025
Cube of 46 is 97336
Square of 47 is 2209
Cube of 48 is 110592
Square of 49 is 2401
Cube of 50 is 125000

In [21]:
li = ['a', 'e', 'i', 'o', 'u']
text = "shubham"
for char in text:
    if char not in li:
        print(char)

s
h
b
h
m

In [25]:
a = ["2", "3", "7", "9", "1", "10"]
b = []
for i in range(1, len(a), 2):
    b.append(a[i])
print(b)

['3', '9', '10']

In [43]:
a = ["2", "3", "7", "9", "1", "10"]
b = []
for i in range(1, len(a), 2):
    b.append(a[i])
sum_b = 0
for element in b:
    sum_b += int(element) 

print(sum_b)

22

In [11]:
def ci(p,r,t,n):
    amount = p * (1 + r / n) ** (n * t) - p
    return amount
ci(200,5,3,2)

367453.125

## Built-in module

In [2]:
import datetime
time_now = datetime.datetime.now()
print(time_now)
print(time_now.year)
print(time_now.strftime("%A"))

2025-01-02 11:28:41.989295
2025
Thursday

In [6]:
import math
result = math.pow(5, 3)
print(result)

125.0

In [10]:
import random
random_integer = random.randint(1,6)
print(random_integer)

1

In [14]:
random_number = random.randrange(9)
print(random_number)

3

In [16]:
toss = ["head","tail"]
random.choice(toss)

'head'

In [1]:
import mymodule

In [3]:
mymodule.greeting("shubham")

good morning shubham

In [5]:
mymodule.say_bye("shubham")

bbye shubham

In [7]:
mymodule.sum(10,10)

20

In [3]:
import jaani as ja

In [5]:
ja.add(5,9)

14

In [7]:
ja.subtract(6,3)

3

In [9]:
ja.multiply(15,20)

300

In [11]:
ja.divide(300,15)

20.0

In [21]:
file_path = r"Desktop/Shubham Chauhan/python/Machine_Learning_AI.txt"

In [1]:
class jaani:
    def love_you(self):
        print("love you bby")
    def hate_you(self):
        print("hate you yrr")

In [3]:
ustaad = jaani()

In [5]:
print(ustaad)

<__main__.jaani object at 0x000001EDB1A76300>

In [7]:
ustaad.love_you()

love you bby

In [9]:
ustaad.hate_you()

hate you yrr

In [3]:
class jaani:
    def __init__(self,name,age):
        self._love_ = name
        self.age = age
        print("an object created..!")
    def hate_you(self):
        return f"name :{self._love_} age:{self.age}"

In [7]:
ja = jaani("Shubham",22)

an object created..!

In [9]:
ja.hate_you()

'name :Shubham age:22'

In [13]:
class SchoolMember:
    def __init__(self,name,age):
        self.name = name 
        self.age = age
    def tell(self):
        print (f"name {self.name} age{self.age}",end = " ")

In [15]:
class Teacher(SchoolMember):
    def __init__(self,name,age,salary):
        SchoolMember.__init__(self,name,age)
        self.salary = salary
    def tell(self):
        SchoolMember.tell(self)
        print(f'Salary:{self.salary}')

In [17]:
t1 = Teacher("Shubham",25,50000)

In [19]:
t1.tell()

name Shubham age25 Salary:50000

In [21]:
class Student(SchoolMember):
    def __init__(self,name,age,grade):
        SchoolMember.__init__(self,name,age)
        self.grade = grade
    def tell(self):
        SchoolMember.tell(self)
        print(f'grade:{self.grade}')

In [29]:
s1 = Student("Shubham",22,6)

In [31]:
s1.tell()

name Shubham age22 grade:6

In [47]:
class Employee:
    def __init__(self, name, employee_id, salary):
        self.name = name
        self.employee_id = employee_id
        self.salary = salary
    def display_details(self):
        return f"Employee name:{self.name}\nEmployee ID:{self.employee_id}\nSalary:${self.salary:.2f}"

In [61]:
class Manager(Employee):
    def __init__(self,name,employee_id,salary,team_size):
        super().__init__(name, employee_id,salary)
        self.team_size = team_size
    def  display_details(self):
        "Displays the manager's details, including team size."
        employee_details = super().display_details()
        return f"{employee_details}\nTeam Size:{self.team_size}"

In [63]:
if __name__ == "__main__":
    employee = Employee("Employee1","E001",50000)
    manager = Manager("Manager", "M456",80000,10)
    print ("Employee Details")
    print (employee.display_details())
    print ("\nManager details")
    print (manager.display_details())

Employee Details
Employee name:Employee1
Employee ID:E001
Salary:$50000.00

Manager details
Employee name:Manager
Employee ID:M456
Salary:$80000.00
Team Size:10

In [79]:
from abc import  ABC, abstractmethod

class Animal(ABC):
    @abstractmethod
    def speak(self):
        print("Bark")

In [81]:
class Cat(Animal):
     def speak(self):
         print("meaw")

In [83]:
class Lion(Animal):
    def speak(self):
        print("Roar")

In [85]:
class Dog(Animal):
    def speak(self):
        print("Bark")

In [93]:
d = Dog()
d.speak()

Bark

In [97]:
c = Cat()
c.speak()

meaw

In [105]:
l = Lion()
l.speak()

Roar

In [141]:
class BillingRecord(ABC):
    @abstractmethod
    def get_bill(self):
        pass
    @abstractmethod
    def update_bill(self,amount):
        pass

In [164]:
class Patient_Billing(BillingRecord):
    def __init__(self,patient_id,patient_name,billing_amount=0):
        self.patient_id = patient_id
        self.patient_name = patient_name
        self.billing_amount = billing_amount
    def get_bill(self):
        return{'Patient ID':self.patient_id,'Patient Name':self.patient_name,'Billing Amount':f'${self.billing_amount:.2f}'}
    def update_bill(self,amount):
        if amount > 0:
            self.billing_amount += amount
            print(f"Billing Amount updated by ${amount:.2f}.New amount is ${self.billing_amount:.2f}.")
        else:
            print ("Amount to update must be in positive")

In [168]:
if __name__=="__main__":
    patient_bill = Patient_Billing(patient_id="p001",patient_name="Gulshan yadav", billing_amount=15000.00)
    print("Initial Bill details:")
    print(patient_bill.get_bill())
    patient_bill.update_bill(500.00)
    print("\nUpdated Bill Details:")
    print(patient_bill.get_bill())

Initial Bill details:
{'Patient ID': 'p001', 'Patient Name': 'Gulshan yadav', 'Billing Amount': '$15000.00'}
Billing Amount updated by $500.00.New amount is $15500.00.

Updated Bill Details:
{'Patient ID': 'p001', 'Patient Name': 'Gulshan yadav', 'Billing Amount': '$15500.00'}